<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.sajwy.silencer">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity" android:theme="@style/ThemeMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NapovedaActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.SeznamPravidelActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.NovePravidloActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".activity.TransparentniActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver android:name=".receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <action android:name="android.intent.action.QUICKBOOT_POWEROFF" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.AlarmReceiver"
            android:enabled="false">
            <intent-filter android:priority="999">
                <action android:name="ALARM" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.CalendarReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.PROVIDER_CHANGED" />

                <data android:scheme="content" />
                <data android:host="com.android.calendar" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.WifiStateReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.RingerModeReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.media.RINGER_MODE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.NotificationReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="OBSLUHA_STOP" />
                <action android:name="OBSLUHA_POKRACOVAT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.WifiScanReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.net.wifi.SCAN_RESULTS" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.ServiceRestarterReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="RESTART_SERVICE" />
            </intent-filter>
        </receiver>

        <service
            android:name="cz.sajwy.silencer.service.ObsluhaPravidelService"
            android:enabled="true" />
    </application>

</manifest>
